body {
    background-image: url(images/color-world-map.jpg);
    background-size: cover;
    background-position: center;
    margin: 0px;
    color: purple;
    margin-bottom: 60px;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3rem;
}

.navbar-logo img {
    display: flex;
    width: 10rem;
    background-color: yellow;
    border-radius: 15%;
}

.navbar-logo p {
    display: contents;
    font-size: 2rem;
    padding-left: 3rem;
    color: purple;
}

.navbar-container .navbar-links {
    display: flex;
}

.navbar-container .navbar-links .link {
    font-size: 2rem;
}

.navbar-links .link a {
    padding: 3rem;
    text-decoration: none;
    color: crimson;
    transition: 0.5;
}

.navbar-links .link a:hover {
    padding: 3rem;
    text-decoration: none;
    color: #cea135;
    font-size: 2.25rem;
}


