body {
  margin: 0px;
}

.footer-connecting {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container > .footer-logo img {
  width: 8rem;
  border-radius: 15%;
  background-color: yellow;
}

.footer-container > .footer-links {
  display: flex;
}

.footer-container > .footer-links > .links {
  font-size: 4rem;
}

.footer-links > .links a {
  padding: 2rem;
}